.buttonA {
  background-color: oklch(39.1% 0.09 240.876);
  color: white;
}


.buttonA:active & .buttonA:enabled {
  transform: scale(0.95);
}

.buttonA:disabled {
  background-color: gray;
  color: white;
}