.list_ingredients_container {
  display: grid;
}

.list_ingredients_title {
  font-weight: bold;
}

.list_ingredients_container-edit_button {
  justify-self: start;
  background-color: transparent;
  color: black;
  text-decoration: underline;
  width: auto;
  height: auto;
}

.list_ingredients {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em 1em;
  padding: 1em 0;
  margin: 1em 0;
}

.ingredient_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  width: 100%;
  flex-wrap: wrap;
}

.ingredient_name {
  height: 32px;
  align-content: center;
}

.ingredient_container-button {
  width: 2em;
}

.ingredient_container-button-hidden {
  visibility: hidden;
}

@media screen and (min-width: 750px) {
  .list_ingredients {
    grid-template-columns: repeat(2, 1fr);
  }
}